<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{%  static 'images/favicon.ico' %}">
    <title>
        {% block title %}
        Server Base
        {% endblock title %}
    </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href={% static "css/bootstrap.css" %}>
    <!-- If you need to override styles -->
    <style media="screen">
        {% block styles %}
        {% endblock styles %}
    </style>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">Server Base</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- Example Nav item: -->
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/jiranator">Jiranator<span class="sr-only">(current)</span></a>
                </li> -->
            </ul>
        </div>
    </nav>
    <!-- Start Jumbotron -->
    <div class="jumbotron" id='welcome'>
            <!-- Jumbotron title -->
            {% block jumbotron_title %}
            <h2>Server Base</h2>
            {% endblock jumbotron_title %}
            <!-- Main jumbotron paragraph -->
        {% block jumbotron_message %}
            <p>
                This is the basic server with bootstrap static files, and a
                logger for server_base that can be used.  This is what we'll
                modify for additional server functionality that we deem appropriate
                for all apps that we want to deploy.
            </p>
        {% endblock jumbotron_message %}
        <!-- Any additional stuff to jumbotron -->
        {% block jumbotron_extra %}
        {% endblock jumbotron_extra %}
    </div> <!-- End Jumbotron -->
    <br>
    <body>
        <div class = 'container' id='content'>
            <!-- Main content -->
            {% block content %}
            {% endblock content %}
        </div>
        <!-- End Main content -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src={% static "js/jquery-3.2.1.js" %}></script>
        <script src={% static "js/popper.js" %}></script>
        <script src={% static "js/bootstrap.js" %}></script>
        <!-- Optional scripts -->
        <script>
            {% block scripts %}
            {% endblock scripts %}
        </script>
    </body>
</html>
